$error: #e7390b;
$warning: #f3de1f;
$success: #1fab37;
$info: #4a7dff;
$question: #b7b7b7;

$error-dark: #8a1d00;
$warning-dark: #453e00;
$success-dark: #003f0b;
$info-dark: #00358f;
$question-dark: #000000;


.box{
  background-color: $error-dark;
}